/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2019, 9:00:23 AM
    Author     : jame
*/

/*VIEW EVENT*/
.modal_label{
    font-size: 18px !important;
    font-weight: 600 !important;
    
}

#modal_span{
    font-size: 16px;
}

/*ADD EVENT*/
#event_name_label{
    font-size: 16px;
    font-weight: 500;
}
